<div class="nsi-dialog-title">
    {{data.messageDetail}}
</div>
<div style="height: 600px; display: flex; flex-flow: column;">
      <mat-divider style="margin-top: 8px; margin-bottom: 4px;"></mat-divider>
      <div style="overflow-y: scroll; height: 100%; ">
        <div style="display: flex; flex-flow: column;height: 1700px;
                    background-image: url('../../../assets/cimsmgsmain.jpg');
                    min-width: 1200px">
          <!-- height: 1440px smgs -->
          <mat-grid-list cols="5" rowHeight="38px">

            <!-- <mat-grid-tile [colspan]="2">
                  <span style="width: 100%;"><mat-label #labelCimSmgsHid>HID</mat-label></span>
              </mat-grid-tile> -->
              <mat-grid-tile [colspan]="5">

                  <div style="width: 100%; margin-left: 10px;">
                      <app-input [width]="300" [type]="'text'" [(value)]="this.data.editdata.hid" [clear]="true"   [maxlength]="50"  [checkerText]="'Номер абонента for example'"></app-input>
                  </div>
              </mat-grid-tile>

            <!-- <mat-grid-tile [colspan]="2">
                  <span style="width: 100%;"><mat-label #labelCimSmgsText></mat-label></span>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="3">

                  <div style="width: 100%; margin-left: 10px;">
                      <app-input [width]="300" [type]="'text'" [(value)]="this.data.editdata.text "  [clear]="true" [maxlength]="20" [checkerText]="'Образец'"></app-input>
                  </div>
              </mat-grid-tile>



                <mat-grid-tile [colspan]="2">
                  <span style="width: 100%;"><mat-label #labelCimSmgsType> </mat-label></span>
              </mat-grid-tile>
              <mat-grid-tile [colspan]="3">

                  <div style="width: 100%; margin-left: 10px;">
                      <app-input [width]="300" [type]="'text'" [(value)]="this.data.editdata.type"  [clear]="true" [maxlength]="2"  [checkerText]="'Образец'"></app-input>
                  </div>
              </mat-grid-tile>

              <mat-grid-tile [colspan]="2" >
                <span style="width: 100%;"><mat-label #labelCimSmgsType> </mat-label></span>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="3">

                <div style="width: 100%; margin-left: 10px;">
                    <app-input [width]="300" [type]="'text'" [(value)]="this.data.editdata.sum"  [clear]="true" [maxlength]="2"  [checkerText]="'Образец'"></app-input>
                </div>
            </mat-grid-tile> -->

          </mat-grid-list>
        </div>
      </div>
</div>
<mat-divider style="margin-top: 8px;"></mat-divider>
 <mat-dialog-actions >
    <button mat-raised-button color="warn" (click)="onClickDetail(1000)">Сохранить</button>
    <button mat-raised-button color="primary" (click)="onClickDetail(0)">Отменить</button>
</mat-dialog-actions>

<!--<app-nsi-rpp-pred #nsiRppPred class="nsi-in-form" [params]="paramsRppPred"></app-nsi-rpp-pred>
 <app-nsi-pred-ta #nsiPredTa class="nsi-in-form" [params]="paramsPredTa"></app-nsi-pred-ta>
<app-nsi-predarea-dialog #nsiPredarea class="nsi-in-form" [params]="paramsPredarea"></app-nsi-predarea-dialog> -->

       <!-- background-attachment: scroll;"> -->
