<div class="layout-wrapper">
  <!-- <div class="layout-topbar" style="width: 100%; height: 48px; position: fixed; top:0; left:0; z-index: 100; box-shadow: 0 2px 5px 0 rgba(0,0,0,.3); background-color: rgb(66, 183, 238);"> -->


    <mat-toolbar color="primary" style="height: 48px;">
      <mat-toolbar-row>
        <div class="toolbar no-select" routerLink="">
          <mat-icon style="margin-right: 5px;">dehaze</mat-icon>
          <span>GreenRail</span>
        </div>
        <div class="layout-topbar">
          <button mat-stroked-button  style="margin-left: 1px; background-color: whitesmoke; color:darkblue " routerLink="smgs"><mat-icon svgIcon="bus-alert" style="width: 24px; height: 24px;"></mat-icon > СМГС</button>
          <button mat-stroked-button  color="warn" style="margin-left: 1px; background-color: whitesmoke; color:darkblue " routerLink="cimsmgs"><mat-icon svgIcon="bus-alert" style="width: 24px; height: 24px;"></mat-icon> ЦИМСМГС</button>
        </div>
        <!-- <span class="example-spacer"></span> -->
        <!-- <div class="toolbar no-select">

          <button class="toolbar button" mat-flat-button routerLink="smgs">СМГС</button>
          <button class="toolbar button" mat-flat-button routerLink="cimsmgs">ЦИМСМГС</button>


        </div> -->
      </mat-toolbar-row>
    </mat-toolbar>
</div>
<!-- </div> -->
