<p>smgs-list works!</p>
<div class="container">
  <mat-toolbar color="primary" >
    <mat-toolbar-row>
      <span class="example-spacer"></span>
      <button class="button" mat-flat-button color="basic" (click)="openDialog()">Добавить Товар</button>
    </mat-toolbar-row>
  </mat-toolbar>

  <mat-card class="example-card" >
    <mat-card-title>Mac 1</mat-card-title>

    <img class="image" mat-card-image src="../../../assets/images/macbook.jpeg" />
    <mat-card-content>
      <p>Price: 200 </p>
      <p>Year: 2022</p>
    </mat-card-content>
    <mat-card-actions>
      <button class="button" mat-flat-button color="primary" type="button">В
        Корзину</button>
      <button class="button" mat-flat-button color="primary" >Подробнее</button>
      <button class="button" mat-flat-button color="primary" >Ред.</button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item >Удалить</button>
        <button mat-menu-item >Ред.</button>
      </mat-menu>
    </mat-card-actions>


  </mat-card>

</div>
