<div style="height: 88%; display: flex; flex-flow: column;">
  <div style="display: flex;">
    <!-- style="display: flex; flex-flow: row; align-items: center;" -->
    <label style="margin-top: 8px;">&nbsp;<b>{{title}}</b></label>

    <!-- <app-input  [type]="'text'" [width]="200" [imgButton]="'magnify'" (imgClick)="search()" [(value)]="params.query"></app-input> -->

    <label style="margin-top: 8px;margin-left: 16px;">Период</label>
    <app-input [autowidth]="true" [type]="'date'" [(value)]="timeBegin" [empty]="false" (valueChange)="refresh(true)"></app-input>
    <mat-icon svgIcon="arrow-right-bold-outline" style="align-self: center; width: 24px; height: 24px;"></mat-icon>
    <app-input [autowidth]="true" [type]="'date'" [(value)]="timeEnd" [empty]="false" (valueChange)="refresh(true)"></app-input>

    <span class="spacer-end"></span>

    <app-fast-help>
      Для добавления новой записи нажмите <mat-icon #helpIcon svgIcon="note-plus-outline" style="color: red;align-self: center;"></mat-icon><br>
      Для изменения существующей записи выберите<mat-icon #helpIcon svgIcon="file-edit-outline" style="align-self: center;"></mat-icon><br>
      Для удаления записи нажмите<mat-icon #helpIcon svgIcon="delete" style="align-self: center;"></mat-icon><br>
    </app-fast-help>

    <app-tab-navigator #topnav [length]="list.total" [pageIndex]="pageIndex" [pageSize]="pageSize" [pagesNumber]="pagesNumber" [loaded]="list.rows.length" (page)="onPage($event)"></app-tab-navigator>
  </div>
  <mat-divider></mat-divider>
  <div style="height: 100%; overflow-y: scroll;">

  <table #predTable mat-table [dataSource]="list.rows" class="mat-elevation-z8 pred-table" >
  <ng-container matColumnDef="expand">
    <th mat-header-cell *matHeaderCellDef aria-label="row actions" style="width: 40px;">
      <img *ngIf="spinnerVisible" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/>
      <mat-icon *ngIf="!spinnerVisible" svgIcon="reload" style="cursor: pointer;" (click)="search()" matTooltip="Обновить список" matTooltipClass="tooltip" matTooltipPosition="above"></mat-icon>
      <!-- <mat-icon *ngIf="!spinnerVisible" fontIcon="refresh" style="cursor: pointer;" (click)="search()" matTooltip="Обновить список" matTooltipClass="tooltip" matTooltipPosition="above"></mat-icon> -->

    </th>
    <td mat-cell *matCellDef="let element; let i = index" style="width: 40px;">
      <mat-icon  svgIcon="file-edit-outline" style="width: 24px; height: 24px;" (click)="edit(false, i)" matTooltip="Редактировать" matTooltipClass="tooltip" matTooltipPosition="left"></mat-icon>
      <!-- <mat-icon  fontIcon="edit" style="width: 24px; height: 24px;" (click)="edit(false, i)" matTooltip="Редактировать" matTooltipClass="tooltip" matTooltipPosition="left"></mat-icon> -->

      <!--  -->
    </td>
  </ng-container>

  <ng-container matColumnDef="hid" style="display: flex; flex-flow: row; align-items: center;">
    <th mat-header-cell *matHeaderCellDef>
      <!-- <img *ngIf="spinnerVisible&&!data.showAsDialog" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA=="/> -->

      <mat-icon  svgIcon="note-plus-outline" (click)="edit(true, 0)" style="color: red; width: 28px; height: 28px; margin-right: 8px; cursor: pointer;" matTooltip="Добавить" matTooltipClass="tooltip" matTooltipPosition="above"></mat-icon>

      HID
    </th>
    <td mat-cell *matCellDef="let element; let i = dataIndex"> {{element.hid}} </td>
  </ng-container>

  <ng-container matColumnDef="text">
    <th mat-header-cell *matHeaderCellDef>
      Текст
    </th>
    <td mat-cell *matCellDef="let element"> {{element.text}} </td>
  </ng-container>

  <ng-container matColumnDef="type">
    <th mat-header-cell *matHeaderCellDef>
      Тип документа
    </th>
    <td mat-cell *matCellDef="let element"> {{element.type}} </td>
  </ng-container>

  <ng-container matColumnDef="sum">
    <th mat-header-cell *matHeaderCellDef>
      Стоимость
    </th>
    <td mat-cell *matCellDef="let element"> {{element.sum}} </td>
  </ng-container>



  <ng-container matColumnDef="close">
    <th mat-header-cell *matHeaderCellDef style="width: 24px;">
      <!-- <mat-icon  svgIcon="close-outline" (click)="onClose()"></mat-icon> -->
      <mat-icon  fontIcon="close" (click)="onClose()"></mat-icon>

    </th>
    <td mat-cell *matCellDef="let element">&nbsp;</td>
  </ng-container>

  <ng-container matColumnDef="del">
    <th mat-header-cell *matHeaderCellDef style="width: 24px;">
    </th>
    <td  mat-cell *matCellDef="let element; let i = index">

      <mat-icon svgIcon="delete"  style="width: 24px; height: 24px;" (click)="deleteItem(i)" style="cursor: pointer;" matTooltip="Удалить" matTooltipClass="tooltip" matTooltipPosition="right"></mat-icon>
      <!-- <mat-icon  fontIcon="delete"  style="width: 24px; height: 24px;" (click)="deleteItem(i)" style="cursor: pointer;" matTooltip="Удалить" matTooltipClass="tooltip" matTooltipPosition="right"></mat-icon> -->

    </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef = "displayedColumns; sticky: true" style="height: 36px; background-color: rgb(233, 234, 235);"></tr>
  <tr mat-row  *matRowDef="let row; columns: displayedColumns; let i = index;" [style.background-color]="mainService.getTDColor(1, i)" style="height: 28px; cursor: pointer; border: solid black;" (click)="onSelect(i)"></tr>

</table>

  <!--  -->

  </div>
</div>
<div style="margin-left: 8px; margin-right: 8px; ">
  <!-- <app-tab-navigator #bottomnav *ngIf="data.showAsDialog" [length]="list.total" [pageIndex]="pageIndex" [pageSize]="pageSize" [pagesNumber]="pagesNumber" [showMoreButton]="true" [loaded]="list.rows.length" (page)="onPage($event)" [showStat]="true" [shortStat]="true"></app-tab-navigator> -->
  <app-tab-navigator                         [length]="list.total" [pageIndex]="pageIndex" [pageSize]="pageSize" [pagesNumber]="pagesNumber"
                      [showMoreButton]="true" [loaded]="list.rows.length" (page)="onPage($event)" [showStat]="true" [shortStat]="true">
  </app-tab-navigator>
</div>
<!-- [length]="1" плявляется инфо справа -->
